@use 'vars';

.blocksContainer {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: none;

  div {
    width: calc(100% / 10);
    height: 100%;
    background-color: rgb(60, 60, 60);
    position: relative;
    z-index: 9999;
    border-left: 0.5px solid vars.$color-background;
    border-right: 0.5px solid vars.$color-background;
    transform: scaleY(0);
    transform-origin: top;
  }

  :nth-child(odd) {
    border-left: none;
    border-right: none;
  }

  :last-child {
    border-right: none;
  }
}
