@use "vars";

.container {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  gap: 4rem;

  .heading {
    color: inherit;
    line-height: 75%;
  }

  .subheading {
    color: inherit;
    line-height: 75%;
    text-align: end;
  }
}
